body {font-family:'Josefin Sans', sans-serif;
  animation:fadein 1s; -moz-animation:fadein 1s; -webkit-animation:fadein 1s; -o-animation:fadein 1s;}

.top-content {height:200px;}

/*logo*/
h2.logo {font-size:3em; margin:55px 0px 0px 12%; display:inline-block;}

/*medium scissors*/
img.logo {width:97px; height:46px; display:block; margin: -18px 0px 0px -35px;
  -webkit-filter: invert(70%); filter: invert(70%);
  animation:twist 1s; -moz-animation:twist 1s; -webkit-animation:twist 1s; -o-animation:twist 1s;
  -ms-transform: rotate(18deg); -webkit-transform: rotate(18deg); transform: rotate(18deg);}
img.logo:hover {animation:open 1s; -moz-animation:open 1s; -webkit-animation:open 1s; -o-animation:open 1s;
  -ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg);}

/*larger scissors*/
/*img.logo {width:80px; height:auto; display:block; margin: -20px 0px 0px -30px;
  -ms-transform: rotate(22deg); -webkit-transform: rotate(22deg); transform: rotate(22deg);}*/

/*smaller scissors*/
/*img.logo {width:108px; height:44px; display:block; margin: -18px 0px 0px -35px;
  -ms-transform: rotate(17deg); -webkit-transform: rotate(17deg); transform: rotate(17deg);}*/    

h3.learn-more {display:inline-block; float:right; margin-right:12%; margin-top:55px; border:1px solid lightgrey;
  border-radius:2px; padding:14px 31px; font-size:1.4em;
  transition:background-color 0.3s; -webkit-transition:background-color 0.3s; -moz-transition:background-color 0.3s; -o-transition:background-color 0.3s;}
h3.learn-more:hover {background:#eee;
  transition:background-color 0.3s; -webkit-transition:background-color 0.3s; -moz-transition:background-color 0.3s; -o-transition:background-color 0.3s;}

h3.middle-content {animation:fadein 2s; -moz-animation:fadein 2s; -webkit-animation:fadein 2s; -o-animation:fadein 2s;}

h1.tagline {text-align:center; font-size:4.5em; font-family:'Raleway', sans-serif; /*text-shadow:0px 0px 1px grey;*/
  line-height:1.3em}

h3.description {color:grey; text-align:center; margin:4%;}

.email-box {text-align:center;}

input.email-input {padding:15px 30px; border-radius:4px 0px 0px 4px; border:1px solid lightgrey; font-size:1.5em;
  width:20%; display:inline-block;}
input.email-input:focus {outline:none;}
button.email-button {padding:15px 30px; width:13%; font-size:1.5em; background:#eee; border:none; display:inline-block;
  margin-left:-4px; border:1px solid lightgrey; border-radius:0px 4px 4px 0px;
  transition:background-color 0.3s; -webkit-transition:background-color 0.3s; -moz-transition:background-color 0.3s; -o-transition:background-color 0.3s;}
button.email-button:hover {background:lightgrey;
  transition:background-color 0.3s; -webkit-transition:background-color 0.3s; -moz-transition:background-color 0.3s; -o-transition:background-color 0.3s;}
button.email-button:focus {outline:none;}
button.email-button:active {background:#ccc;}

.demo-line {height:1000px; padding:4em 0em;}

.clipp {height:120px; width:200px; position:fixed; bottom:0; right:10%; border:1px solid lightgrey; margin-bottom:15px;
  background:#eee; box-shadow:0 0 30px 0 lightgrey;}



/*ANIMATION*/

/*fadein*/
@keyframes fadein {from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadein {from {opacity:0;} to {opacity:1;}} /*Firefox*/
@-webkit-keyframes fadein {from {opacity:0;} to {opacity:1;}}  /* Safari and Chrome */
@-o-keyframes fadein {from {opacity:0;} to {opacity:1;}} /* Opera */

/*scissor twist*/
@keyframes twist {from {transform:rotate(30deg);} to {transform:rotate(18deg);}}
@-moz-keyframes twist {from {transform:rotate(30deg);} to {transform:rotate(18deg);}} /*Firefox*/
@-webkit-keyframes twist {from {transform:rotate(30deg);} to {transform:rotate(18deg);}}  /* Safari and Chrome */
@-o-keyframes twist {from {transform:rotate(30deg);} to {transform:rotate(18deg);}} /* Opera */

/*scissor open*/
@keyframes open {from {transform:rotate(18deg);} to {transform:rotate(30deg);}}
@-moz-keyframes open {from {transform:rotate(18deg);} to {transform:rotate(30deg);}} /*Firefox*/
@-webkit-keyframes open {from {transform:rotate(18deg);} to {transform:rotate(30deg);}}  /* Safari and Chrome */
@-o-keyframes open {from {transform:rotate(18deg);} to {transform:rotate(30deg);}} /* Opera */




